#menu{
    height: 70px;
    padding: 0 60px 0 60px;
    
    
}

.navbar-dark .navbar-brand{
   color: black;


}
#navbarSupportedContent-4 ul, li{
    color: gray;
    
    
}

.login {
    background-color: #111d4e;
    border-radius: 2mm;
    
    
    
}

.nav-item i{
    color: black;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    
}
.nav-item i:hover{
  background-color: #111d4e;
  color: white;
  height: 150px;
  border-radius: 2mm;
  padding: 10px 60px 10px 60px;
    
}

#mobile{
    background-color: gray;


}

@media (max-width:990px) {

    #menu{
        padding: 20px;
        
    }
    #navbarSupportedContent-4{
        background-color:  gray;
        color: white;
        border-radius: 2mm;
        height: 300;
        z-index: 99;
        }
    .nav-item i{
        color: white;
        
        
    }

}

